@keyframes loading-block {
    0% {
      background: rgb(6, 201, 104);
    }
    20% {
      background: rgb(81, 33, 226);
    }
    40% {
      background: rgb(230, 112, 2);
    }
    60% {
      background: rgb(211, 0, 130);
    }
    80% {
      background: #fbff00;
    }
  }

.EmoteHero-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.EmoteHero-wrapper {
    display: flex;
    flex-direction: row;
    background-color: #282828ff;
    border-radius: 20px;
    padding: 20px 10px 20px 10px;
    height: 300px;
}

.EmoteHero-ls {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-left: 5px;
}

.EmoteHero-ls-display{
    height: 60%;
    background: linear-gradient(135deg, #FD6E6A 0%, #FFC600 100%);
    border-radius: 10px;
    margin-bottom: 8px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EmoteHero-ls-display-content {
    background: #282828ff;
    border-radius: 9px;
    width: 99%;
    height: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EmoteHero-ls-imgwrapper {
    position: relative;
    width: 150px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.EmoteHero-ls-imgwrapper > img {
    width: 100%;
    height: auto;
    margin: 5px;
}

.EmoteHero-ls-meta-wrapper {
    background: linear-gradient(135deg, #FD6E6A 0%, #FFC600 100%);
    height: 20%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 4px;
}

.EmoteHero-ls-meta {
    background: #282828ff;
    border-radius: 9px;
    width: 99%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.EmoteHero-rs-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66%;
    height: 100%;
    background: linear-gradient(135deg, #FD6E6A 0%, #FFC600 100%);
    border-radius: 10px;
    margin-left: 15px;
}

.EmoteHero-rs {
    margin: 2px;
    padding-top: 5px;
    background: #282828ff;
    width: 99%;
    height: 99%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
    justify-content: center;
    align-items:flex-start;
    border-radius: 10px;
}

.collection-info-wrapper {
    margin-bottom: 30px;
    color: black;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

.parent-loading-pulse {
    min-width: 110px;
    height: 55px;
    animation: loading-block 3s infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.collection-info-child {
    height: 30px;
    min-width: 100px;
    background-color:  #282828ff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2px;
    margin-right: 2px;
}
